<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      Emerald Mountain Christian School is a private Christian school founded over 50 years ago. They use the Principle
      Approach&reg;, which emphasizes research, reasoning, relating, and recording to help students synthesize the
      information they learn, rather than just requiring rote memorization. More information about the school&rsquo;s
      rich history can be found on their site.
    </p>
    <div>
      <h3>What We Did (2004)</h3>
      <p>
        They had a website with very basic information and very little styling. We developed a theme (the one in the
        thumbnail), based in large part on the design of their printed materials, and they approved the design.
        Initially, the site only contained the content from their previous site. We then put their school calendar of
        events up on the site, where parents could find the dates for upcoming events. Finally, we put all the material
        from their Parent Information Packet online, which helped prospective families learn more about the school
        before visiting it.
      </p>
    </div>
    <div>
      <h3>What We Did (2011)</h3>
      <p>
        The underlying engine of the basic website was switched from PHP to an ASP MVC web application, and the
        back-end database was switched from MySQL to a PostgreSQL database.
      </p>
    </div>
    <div>
      <h3>What We Did (2013)</h3>
      <p>
        We passed off the content and hosting of the site to a new maintainer. They have since redesigned it; it is
        accessible via the URL above, and at <a href="http://emcspatriots.org"
        title="EMCS Patriots">EMCSpatriots.org</a>.
      </p>
    </div>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
