<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      Capitalizing on the growth from her <a routerLink="/solutions/cassy-fiano">Cassy Fiano blog</a>, Cassy (now
      Chesser) began a separate blog in which she could chronicle her experience as a military spouse.
    </p>
    <div>
      <h3>What We Did</h3>
      <p>We customized the header and sidebar of the theme, and set up the hardcorpswife.com domain.</p>
    </div>
    <div>
      <h3>What We Still Do</h3>
      <p>
        In 2013, Cassy shifted priorities and closed this site down. She can still be found at other places around the
        web.
      </p>
    </div>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
