<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      Mindy Mackenzie, the prior Chief Performance Officer of Beam, Inc., is known as the &ldquo;Velvet Hammer&rdquo;
      for her tough-yet-caring style of leadership. Her <em>Wall Street Journal</em> best-selling book <em>The Courage
      Solution: The Power of Truth-Telling with Your Boss, Peers, and Team</em> details her spin-free approach to
      personal and business success.
    </p>
    <div>
      <h3>What We Did (2015)</h3>
      <p>
        We assumed maintenance of her site several months in advance of the book launch of <em>The Courage
        Solution</em>. We worked with her, and her publicists and other professionals, to ensure that the book launch
        went smoothly. We customized her WordPress installation to support her Media Appearances in a way that allowed
        them to be entered, tracked, and listed as of the date they occurred. We also implemented rotating videos on
        the front page of the site.
      </p>
    </div>
    <div>
      <h3>What We Did (2018)</h3>
      <p>
        We developed the pages for her <em>You First Integrative Leadership Summit</em>, with speaker bios, conference
        schedule, and an application form.
      </p>
    </div>
    <div>
      <h3>What We Still Do</h3>
      <p>We continue to provide backups, WordPress support, and content updates for Mindy&rsquo;s site.</p>
    </div>
    <app-quotes [quotes]="app.quotes"></app-quotes>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
