<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      Daniel wanted to maintain a prayer journal, where he could record the prayer requests for which he had prayed,
      and the answer that eventually came to that request. He didn't want to do that on paper for several reasons
      &ndash; it's easy to lose, a long-running request can run out of space to make notes, etc. He believed that he
      was not the only person who felt this way regarding prayer, and decided to use this as an opportunity to fill
      both a spiritual and a learning need. Given <a href="https://auth0.com">Auth0</a>'s policy of offering free
      authentication services for open-source applications, he decided to develop this as an open-source application.
    </p>
    <p>
      The goal of myPrayerJournal is to get out of the way, so that the user can focus on the requests and their
      prayer; once requests have been entered, the journal provides a way to easily pray through these requests,
      helping people not forget about active requests. It also provides a means of going back through answered
      requests, which can be reviewed whenever the user desires. There is a
      <a href="https://bit-badger.github.io/myPrayerJournal">documentation page</a> that fully describes all it can do.
    </p>
    <p>
      As an open-source project, anyone can review the source code on
      <a href="https://github.com/bit-badger/myPrayerJournal">GitHub</a>; we also track open issues there.
    </p>
    <div>
      <h3>What We Did (2017-2018)</h3>
      <p>
        We went through several iterations of front-end and back-end technologies, trying to find one that would
        provide the optimal experience for praying through the list. The front end uses
        <a href="https://vuejs.org">Vue.js</a>, and the back end uses
        <a href="https://github.com/giraffe-fsharp/Giraffe">Giraffe</a> to serve the data.
      </p>
    </div>
    <div>
      <h3>What We Still Do</h3>
      <p>
        Bit Badger Solutions hosts the instance of this at the URL linked above. We back up the data, and also continue
        to develop it. Anyone can use it by logging in with a Google or Microsoft account.
      </p>
    </div>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
