<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      Olivet Baptist Church&rsquo;s pastor saw our work with <a routerLink="/solutions/bay-vista"
      title="Bay Vista Baptist Church | Bit Badger Solutions">Bay Vista</a>, and asked us what would be involved with
      setting up something similar for his church. Olivet did not currently have a website.
    </p>
    <div>
      <h3>What We Did (2014)</h3>
      <p>
        We registered the domain name for the church, then set up a fresh WordPress install. They had expressed a
        desire to do as much of the content of the site themselves, so we supported them as they worked through its
        initial setup. We also, as with Bay Vista, established the framework for a sermon podcast feed.
      </p>
    </div>
    <div>
      <h3>What We Did (2016)</h3>
      <p>
        As with Bay Vista&rsquo;s site, this was converted to be a statically-generated site. We also created a
        mobile-friendly site layout that looked similar to the one they had been using.
      </p>
    </div>
    <div>
      <h3>What We Did (2018)</h3>
      <p>
        We turned their site into a Progressive Web Application (PWA), which allows users to &ldquo;install&rdquo; the
        site, like an app, to their phone&rsquo;s home screen. The site is also still accessible from the web via a
        browser.
    </p>
    </div>
    <div>
      <h3>What We Did (2019)</h3>
      <p>
        The church closed its doors February 24th, 2019. We converted the PWA back to a static web site, set up a
        static archive site, and worked with their personnel to ensure that the podcast links are all still available.
        We continue to host that archive site and podcast content.
      </p>
    </div>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
