<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      Michelle Summers had been photographing her children for years. When her sons were on sports teams, she was
      disappointed with the cost of team photography, and felt that she could do a better job at a lower cost. Thus was
      born Photography by Michelle. She specializes in outdoor photography of families, children, and sports teams, as
      well as maternity photography and holiday cards.
    </p>
    <div>
      <h3>What We Did (2007)</h3>
      <p>
        We created the site with a few custom pages, including a gallery page that would automatically display whatever
        pictures were there. We also, using WordPress and a custom image plugin, set up a site where customers can view
        the proofs from their photography session.
      </p>
    </div>
    <div>
      <h3>What We Did (2012)</h3>
      <p>
        The custom PHP/WordPress site was replaced by a custom ASP MVC web application, which handles the front pages
        and the proof set galleries. The proof display was also upgraded to allow cursor-key navigation of proofs.
      </p>
    </div>
    <div>
      <h3>What We Still Do</h3>
      <p>
        As Michelle is no longer doing professional photography, the current version of this site is a simple thank-you
        to her customers over the years.
      </p>
    </div>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
