<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <article class="content">
    <app-application-image [app]="app"></app-application-image>
    <h3>The Client</h3>
    <p>
      Michelle Summers had been photographing her children for years. When her sons were on sports teams, she was
      disappointed with the cost of team photography, and felt that she could do a better job at a lower cost. She
      specialized in outdoor photography of families, children, and sports teams, as well as maternity photography and
      holiday cards.
    </p>
    <h3>The Problem</h3>
    <p>
      Michelle needed a site to showcase her previous work, as well as a place to allow her customers to view their
      proofs before selecting prints.
    </p>
    <h3>The Solution</h3>
    <p>
      We created a WordPress site with image galleries for her existing work, and utilized a custom plug-in to support
      online proofs. This site was eventually replaced with one that had a matching Windows application; this
      application took a set of photos, resized them, applied a watermark, and created the proof gallery without having
      to even go to the site.
    </p>
    <h3>The Epilogue</h3>
    <p>
      As Michelle is no longer doing professional photography, the current version of this site is a simple thank-you
      to her customers from 2007-2014.
    </p>
    <app-tech-stack [stack]="app.techStack"></app-tech-stack>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
