<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      The Shark Tank is a news and opinion site centered on south Florida politics (and the state at large). They
      provided extensive coverage of Rep. Allen West&rsquo;s winning campaign in 2010, and are continuing their focused
      news and opinion to current political races.
    </p>
    <div>
      <h3>What We Did</h3>
      <p>
        They were displeased with their current theme, and had found a theme (and a demo site) that they preferred. We
        set up the theme, ensured that their content would fit in the new theme&rsquo;s requirements, and helped them
        turn off parts that they didn&rsquo;t need. We also converted the social media connections from their old site
        to a style that would work nicely in the new theme.
      </p>
    </div>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
