<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <article class="content">
    <app-application-image [app]="app"></app-application-image>
    <h3>The Client</h3>
    <p>
      Love INC of South Albuquerque runs a &ldquo;needs clearinghouse&rdquo;; they have volunteers who accept
      donations, and people contact them with their needs. They are then able to match the person who needs something
      with that thing, or with someone who can assist them.
    </p>
    <h3>The Problem</h3>
    <p>
      The files in their offices were multiplying; ensuring people&rsquo;s needs are not missed, while ensuring that
      their clients were not taking advantage of their services, required a lot of paper. They were tracking volunteers
      on a spreadsheet, but their contact info was in yet another file. Having worked with us on the
      <a routerLink="/solutions/nsx"
      title="Not So Extreme Makeover: Community Edition | Bit Badger Solutions">&ldquo;Not So Extreme Makeover:
      Community Edition&rdquo;</a>, and thought that the solution we developed for that project would help them.
    </p>
    <h3>The Solution</h3>
    <p>
      We adapted NSXapp to handle an ongoing stream of people, volunteers, and donations. This enabled them to spend
      more time with the people who needed help. The WordPress front end also served as their public website, and
      allowed them to manage the volunteers who were using the system.
    </p>
    <h3>The Epilogue</h3>
    <p>
      Love INC of South Albuquerque found a SalesForce system that would do things very similar to TCMS, and was able
      to get in on a program that let them use it at no cost; TCMS was decommissioned in 2014.
    </p>
    <app-tech-stack [stack]="app.techStack"></app-tech-stack>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
