<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      The TCMS motto, &ldquo;Putting People Over Paperwork,&rdquo; sums up the mission of this system. To successfully
      run a needs clearinghouse, such as those run by Love INC affiliates, there is a lot of paperwork involved.
      Clients must be tracked, along with their needs; these needs must be verified; resources for goods and services
      must be known; volunteers must be known and sent communications to keep them involved. All of this adds up to a
      significant recordkeeping (i.e., paperwork) burden.
    </p>
    <p>
      TCMS addressed these issues by providing a repository for all clearinghouse operation needs. It helped eliminate
      duplication of work, and also linke clients with goods and services. It also provided the means to communicate
      with volunteers, either en masse or using selective criteria. This allowed the recordkeeping requirement to be
      smaller and quicker, giving more time for the actual helping of clients. It used WordPress for its front end;
      this provided organizations with a web presence that they could maintain without having to employ a web guru,
      using WordPress&rsquo;s <abbr title="What You See Is What You Get">WYSIWYG</abbr> editor and management tools.
    </p>
    <p>TCMS was decommissioned in 2014.</p>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
