<app-page-title [title]="pageTitle"></app-page-title>
<app-application-header [app]="app"></app-application-header>
<div class="app-info">
  <app-application-image [app]="app"></app-application-image>
  <article class="content">
    <p>
      Many churches have prayer rooms &ndash; rooms set aside for people to come in to pray. Hoffmantown Church in
      Albuquerque, New Mexico was one of these churches. However, they had seen the use of this physical prayer room
      dwindling over the years. People had become less willing to drive to the church, especially at night, and
      security became an issue as well; either prayer warriors had to know how to disable the security system, or the
      church would have to remain unlocked.
    </p>
    <p>
      Having seen our work with the <a routerLink="/solutions/nsx/"
      title="Not So Extreme Makeover: Community Edition | Bit Badger Solutions">Not So Extreme Makeover: Community
      Edition</a>, the church contacted us to see if something similar could be developed to help their prayer
      ministry. The resulting application that was developed extended the prayer room to wherever the prayer warrior
      can get an Internet connection! Prayer warriors could enlist right from the site, and had to be approved.
      Requests and updates were tracked by date/time, and warriors could record when they&rsquo;ve prayed for a request
      from the site, or from clicking a link in the daily e-mail they received with requests from their interest areas.
      As many prayer needs are confidential, security and confidentiality were very important. Virtual Prayer Room
      ensured these by providing varying security levels for prayer warriors and the ability to mark each request as
      confidential.
    </p>
    <p>
      In 2016, Hoffmantown Church elected to begin using another package for their prayer requests. While a few other
      churches had expressed interest in it, none ultimately decided to use it; so, in 2017, Virtual Prayer Room was
      officially decommissioned.
    </p>
    <app-all-solutions-link></app-all-solutions-link>
  </article>
</div>
