<app-page-title title="Process Automation Solutions"></app-page-title>
<article class="content auto">
  <h1>Process Automation and User Engagement</h1>
  <p>
    Computers can be used to augment or automate nearly any process; could you think of generating bank statements,
    processing mailing lists, or tracking orders without some form of automation? We develop web-based solutions to
    automate <em>your</em> processes, ensuring that your business constraints are satisfied; these systems can run on
    the Internet or your private network. For Internet-facing solutions, we engineer solutions that allow them to
    interact with you securely, presented in an engaging manner. And, by &ldquo;engagement,&rdquo; we are not
    describing intrusive page pop-ups and other <span class="strike">marketing gimmicks</span> web annoyances; we
    determine an optimal user experience for <em>your</em> customers, and tailor the solution to work for both of you.
  </p>
  <p>Several of our solutions fit this description.</p>
  <ul>
    <li>
      <p>
        <a routerLink="/solutions/virtual-prayer-room" title="Virtual Prayer Room | Bit Badger Solutions">Virtual
        Prayer Room</a> helped the prayer ministry of
        <a href="http://www.hoffmantown.org" title="Hoffmantown Church in Albuquerque, NM">Hoffmantown Church</a>
        enable their prayer warriors to have access to requests wherever they are, even in their inbox once a day!
      </p>
    </li>
    <li>
      <p>
        <a routerLink="/solutions/tcms" title="TCMS | Bit Badger Solutions">TCMS</a> was an application that helped
        organizations such as <a href="http://www.loveincabq.org">Love INC of South Albuquerque</a> connect people with
        needs to people who can help fulfill those needs. TCMS sprung from the
        <a href="https://nsx.archive.bitbadger.solutions" title="Not So Extreme Makeover: Community Edition (Archive)">Not
        So Extreme Makeover: Community Edition</a> in Albuquerque, New Mexico during spring break 2008; we not only
        developed the public presence, but a private system called
        <a routerLink="/solutions/nsx" title="NSXapp | Bit Badger Solutions">NSXapp</a> that enabled the management of
        the volunteers, families, and things for this massive effort.
      </p>
    </li>
    <li>
      <p>
        We continue to offer <a href="https://prayer.bitbadger.solutions" title="PrayerTracker">PrayerTracker</a>
        <small> (<a routerLink="/solutions/prayer-tracker'" title="PrayerTracker | Bit Badger Solutions">about</a>)</small>,
        a free-to-use web application that helps Sunday School classes (or other small groups) generate a prayer
        request list; it provides a central place for list management and continuity.
      </p>
    </li>
  </ul>
  <p><br><a routerLink="/" title="Home">&laquo; Home</a></p>
</article>
